.home-related-products .woocommerce ul.products li.product .price,
.home-related-products ul.products li.product .button {
    display: none;
}

.woocommerce .products ul,
.woocommerce ul.products {
    margin: 0;
}

.home-related-products {
    text-align: center;
    margin-top: 50px;
}

div.columns-3 {
    // display: flex;
    justify-content: space-around;
}

.instagram {
    width: 100%;
    background-color: #83243c;
}
