h2.testimonials-title {
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 30px 0 10px;
    text-align: center;
}

blockquote.wp-block-quote {
    width: 50%;
    height: 150px;
    margin: auto;
}