h2.testimonials-title {
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 30px 0 10px;
    text-align: center;
}

.testimonial-slider .slick-dots,
.testimonial-slider {
    background-color: rgb(240, 240, 240);
}

blockquote.wp-block-quote {
    width: 50%;
    margin: auto;
}

.deal-slider {
    width: 85%;
    margin: auto;
}