h2.testimonials-title {
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 30px 0 10px;
    text-align: center;
}

.deal-slider {
    // height: 500px;
}

.deal-image .slick-slide img {
    // height: 500px;
}