.custom-logo {
    width: 50px;
    height: 50px;
}

@media (min-width: 600px) {
    .custom-logo {
        width: 75px;
        height: 75px;
    }
}

@media (min-width: 900px) {
    .custom-logo {
        width: 100px;
        height: 100px;
    }
}