.custom-logo {
    width: 100px;
    height: 100px;
}

.menu-sub-menu-container ul{
    display: flex;
    justify-content: space-evenly;
   
  
}
// .pizza-icon{
//     background-image: url("images/pizza-icon.png");
//     background-repeat: no-repeat;
//     background-size:contain;
//     width: 60px;
//     height: 60px;
// }
.drink-icon{
    background-image: url("images/drink-icon.png");
    background-repeat: no-repeat;
    background-size:contain;
    width: 60px;
    height: 60px;
}
.dessert-icon{
    background-image: url("images/dessert-icon.png");
    background-repeat: no-repeat;
    background-size:contain;
    width: 60px;
    height: 60px;
}
.salad-icon{
    background-image: url("images/salad-icon.png");
    background-repeat: no-repeat;
    background-size:contain;
    width: 60px;
    height: 60px;
}
.deals-icon{
    background-image: url("images/gift-card.png");
    background-repeat: no-repeat;
    background-size:contain;
    width: 60px;
    height: 60px;
}
