.social-navigation {
    background-color: #83243c;
    margin: auto;
    padding: 70px 0 50px;
}

.social-navigation ul {
    list-style: none;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

@media(min-width: 600px) {
    .social-navigation ul {
        width: 40%;
    }
}

ul#social-menu.menu {
    padding: 20px 0 0;
}

ul#social-menu.menu a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.copyright-text {
    background-color: #83243c;
    text-align: center;
    margin: 0;
    padding-top: 50px;
    color: white;
}