/*--------------------------------------------------------------
## About Family
--------------------------------------------------------------*/
.entry-content{
    max-width: 100%;
    text-align: center;
    font-family: 'Raleway','Roboto';
}

.wp-block-cover .wp-block-cover__inner-container p{
    font-family: "Great Vibes";
    color: rgba(255, 255, 255, 0.897);
    font-size: 3rem;

}
.entry-content h2{
    font-family: "Great Vibes";
    color: rgba(65, 64, 64, 0.897);
    font-size: 2rem;
}
