/*--------------------------------------------------------------
## About Family
--------------------------------------------------------------*/

.content-area{
    width: 80%;
    margin:0 auto;
    text-align: center;
    font-family: 'Raleway','Roboto';
}
.content-area .entry-title{
    font-size: 4rem;
}
.wp-block-cover .wp-block-cover__inner-container p{
    font-family: "Great Vibes";
    color: rgba(255, 255, 255, 0.897);
    font-size: 3rem;
}


.about-family-info-wrapper{
   margin-bottom:10%;  
   text-align: center;
}
.about-family-info-wrapper ul{
    padding: 0;
    margin: 0;
 }
.about-family-info-wrapper li{
    list-style: none;
    padding: 20px;
    margin-left:0;
 }
 .about-family-text-2{
     display: none;
 }
 .about-family-contain-1 .about-family-img-1{
     padding-bottom:20px;
 }
.about-family-contain-2{
    margin-bottom: 10%;
 }

@media only screen and (min-width: 850px) {
    .entry-content p{
        max-width: 70%;
        margin: 0 auto;
        padding-bottom:20px;
    }
    
    .about-family-info-wrapper ul {
        line-height: 1.5;

@media only screen and (min-width: 650px) {
    .about-family-contain-1 ul{
       display: flex;
       justify-content: space-between;
        margin-bottom:10%;
    }
    .about-family-info-wrapper li {
        width: 50%;
        // margin-bottom:20px;
     }
   
     .about-family-text-2{
        display: block;
    }
    .about-family-text-3{
        display:none;
    }
}
@media only screen and (min-width: 1059px) {
    .about-family-contain-1 .about-family-text-1{
        margin-top:20px;
    }
    .about-family-contain-2 .about-family-text-2{
        margin-top:20px;
    }
}
@media only screen and (min-width: 1200px) {
   .about-family-info-wrapper{
       width: 70%;
       margin:0 auto;
   }
}