body.search-results #primary {
    margin: 0 16px;
}

body.search-results .content-area .entry-title {
    font-size: 1.1em;
}

body.search-results #main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

body.search-results #main header,
body.search-results #main article.type-page {
    grid-column: span 3;
    text-align: center;
}

body.search-results #main article.type-product {
    margin: 16px;
}

body.search-results #main article.type-product a {
    height: 300px;
}
