$color-background-body: #fff;
$color-background-button-red: #ca2521;
$color-background-button-green: #90ad7d;
$color-background-button-light-grey: #a5a79a;


$color-text-button: #fff;
$color-text-header:rgb(48, 48, 48);
$color-text-main: #464545;



$color-border-button: rgb(36, 35, 35);
$color-button-hover: #ca2521;
