.main-navigation,
.product-navigation {
	clear: both;
	display: block;
	// float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover>ul,
				&.focus>ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover>a,
			.focus>a {}

			a:hover,
			a.focus {}
		}

		li:hover>ul,
		li.focus>ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover>a,
		&.focus>a {}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item>a,
	.current-menu-item>a,
	.current_page_ancestor>a,
	.current-menu-ancestor>a {}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

// ---------------------------- main manu style ---------------------------- //

.product-navigation .icon svg{
	width:60px;
	height: 60px;
	
}
.product-navigation{
	display: flex;
	justify-content: space-between;
	margin:0 auto;
	width:85%;
}
.product-navigation h2{
	color:rgb(92, 34, 34);
		font-size: 1.3rem;
}




@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
@media screen and (min-width: 600px) {

	.menu-main-menu-container ul{
		margin:0 auto;
		width:85%;
		display:flex;
		justify-content:space-between;
	
	}
	.menu-main-menu-container li{
		padding:10px;
	}
	.menu-main-menu-container a{
		color: rgb(67, 67, 67);
		font-weight: bold;
		font-size: 1.2rem;	
	}
	

	.menu-main-menu-container a:hover{
		color:rgb(92, 34, 34);
		font-size: 1.3rem;
		transition: opacity 0.35s, transform 0.35s;
    	// -webkit-transform: scale(0, 1);
    	// transform: scale(0, 1);	
	}
	.menu-main-menu-container a:before{
		content: '';
		position: absolute;
		right:1px;
		display: inline-block;
		height: 1em;
		width: 100%;
		border-bottom:2px solid rgb(99, 39, 39);
		margin-top: 10px;
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: scale(0, 1);
		transform: scale(0, 1);
	}
	.menu-main-menu-container a:hover:before{
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}