.main-navigation {
	position: absolute;
	top: 10px;
	right: 0;
	width: 100%;
	z-index: 9999;
}

.menu-main-menu-container ul {
	width: 100%;
}

.main-navigation {
	width: 60%;
	right: 5%;
}

.product-navigation {
	width: 100%;
}

.main-navigation,
.product-navigation {
	clear: both;
	display: block;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover>ul,
				&.focus>ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}
		}

		li:hover>ul,
		li.focus>ul {
			left: auto;
		}
	}

	li {
		position: relative;
	}

	a {
		display: block;
		text-decoration: none;
	}
}

//--------------------------------- Menu Button --------------------------------

.menu-toggle {
	position: absolute;
	right: 0;
}

.main-navigation.toggled ul {
	width: 100%;
	height: 100%;
	background-color: #ffffffce;
	padding-top: 50px;
}

.main-navigation.toggled li {
	padding: 15px 0;
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	// background-color: red;
}

.main-navigation {
	width: 100%;
	// right: 5%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.main-navigation {
	// position: fixed;
	top: 0;
	left: 0px;
}

.admin-bar .main-navigation {
	top: 50px;
}

.main-navigation.toggled {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 10px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

div.icon p {
	font-weight: 900;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: black;
	margin: 0 0 16px;
}

// ------------------------------ Main menu style ---------------------------------

// .menu-main-menu-container {
// 	position: fixed;
// 	width: 100vw;
// 	height: 100vh;
// 	top: 0px;
// 	left: 0px;
// 	// background-color: red;
// }

.menu-main-menu-container a {
	text-align: center;
	font-weight: bold;
	font-size: 1.1rem;
	color: black;
}


// .menu-main-menu-container a:hover {
// 	font-size: 1.3rem;
// 	transition: opacity 0.35s, transform 0.35s;
// }

.menu-main-menu-container a:before {
	content: '';
	position: absolute;
	right: 1px;
	display: inline-block;
	height: 1em;
	width: 20%;
	margin-right: 40%;
	// border-bottom: 2px solid rgb(99, 39, 39);
	// margin-top: 20px;
	// opacity: 0;
	// -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	// transition: opacity 0.35s, transform 0.35s;
	// -webkit-transform: scale(0, 1);
	// transform: scale(0, 1);
}

// .menu-main-menu-container a:hover:before {
// 	opacity: 1;
// -webkit-transform: scale(1);
// transform: scale(1);
// }

.menu-toggle {
	font-family: 'Great Vibes';
	font-weight: bold;
	background-color: white;
	border: none;
	font-size: 1.6rem;
	// width: 100vw;
}

// .menu-toggle:hover {
// 	color: rgb(128, 39, 39);
// 	font-size: 1.8rem;
// }



// ------------------------------------ Products menu styles ------------------------------------ 

.product-navigation .icon svg {
	width: 40px;
	height: 40px;

}

.product-navigation {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 80%;
}

.product-navigation .icon svg:hover {
	padding: 5px;
}

//-------------------------------------- Larger than 450px ------------------------------------


@media screen and (min-width: 450px) {
	.menu-toggle {
		display: none;
	}

	// ----------------------------- Not our Stuff ------------------------- ?????????????

	.comment-navigation,
	.posts-navigation,
	.post-navigation {

		.site-main & {
			margin: 0 0 1.5em;
			overflow: hidden;
		}

		.nav-previous {
			float: left;
			width: 50%;
		}

		.nav-next {
			float: right;
			text-align: right;
			width: 50%;
		}
	}

	//-------------------------------------- Larger than 450px ------------------------------------


	.menu-main-menu-container ul {
		width: 100%;
		justify-content: flex-end;
	}

	.main-navigation {
		width: 100%;
		right: 0;
		top: 20px;
	}

	.main-navigation ul {
		display: flex;
	}

	.main-navigation li {
		display: flex;
	}

	.menu-main-menu-container li {
		padding: 10px;
	}

	.product-navigation .icon svg {
		min-width: 50px;
		height: 50px;
	}

	.menu-main-menu-container a {
		font-weight: bold;
		color: #83243c;
		font-size: 0.8rem;
	}

	.menu-main-menu-container a:hover {
		color: #fee867;
		transition: opacity 0.35s, transform 0.35s;
	}

	.menu-main-menu-container a:before {
		content: '';
		position: absolute;
		right: 1px;
		display: inline-block;
		height: 1em;
		width: 100%;
		border-bottom: 2px solid #fee867;
		margin-right: 0;
		margin-top: 10px;
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: scale(0, 1);
		transform: scale(0, 1);
	}

	.menu-main-menu-container a:hover:before {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

}

@media screen and (min-width: 600px) {
	.menu-main-menu-container a {
		font-size: 1rem;
	}

	.menu-main-menu-container ul {
		width: 100%;
	}

	.main-navigation {
		width: 95%;
		right: 5%;
	}
}

//-------------------------------------- Larger than 1000px ------------------------------------

@media screen and (min-width: 1000px) {
	.product-navigation .icon svg {
		min-width: 60px;
		height: 60px;
	}

	.menu-main-menu-container a {
		font-weight: bold;
		font-size: 1.2rem;
	}

	.menu-main-menu-container ul {
		width: 100%;
	}

	.main-navigation {
		// width: 50%;
		width: 95%;
		right: 5%;
	}
}